body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #2c3e50, #000000); /* Gradient warna shady night */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* CSS untuk gambar sertifikat */
.certificates {
    list-style: none;
    padding: 0;
}

.certificates li {
    display: inline-block;
    margin: 10px;
}

.certificates img {
    display: block;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); /* Efek box shadow di bagian kiri bawah */
    border-radius: 10px;
}

/* CSS untuk foto profil */
.profile-pic {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid #fff; /* Garis putih di sekitar foto */
}
